.l-page {
    width: 1000px;
    margin: 0 auto;
}

.l-canvas {
    float: left;
}

.l-controls {
    float: right;
}

.b-canvas {
    border: solid 1px #ddd; border-collapse: collapse;
}

.b-canvas__cell {
    border: solid 1px #ddd; width: 6px; height: 8px;
}

.b-canvas__cell-live {
    background-color: #3276b1;
}

.b-canvas__cell-died {
    background-color: #fff;
}

.b-control {
    margin-bottom: 10px;
}

.b-control__input {
    width: 50px;
}